.code-container {
  padding-top: 10px;
  margin-left: 0;
}

.navbar-static-top {
  margin-bottom: 0;
}

.navbar-fixed-left {
  width: 140px;
  position: absolute;
  border-radius: 0;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}